<template>
    <lightning-card>
        <!-- <div class="slds-text-body_medium">Hello, world!</div> -->
        
    <template if:true={data}>
        <lightning-accordion
            onsectiontoggle={handleToggleSection}
            active-section-name={selected}>

            <template for:each={data} for:item="eachGroup">
                <lightning-accordion-section name={eachGroup.groupLabel} label={eachGroup.groupLabel} key={eachGroup.groupLabel}>
                    <lightning-datatable
                        key-field="Id"
                        data={eachGroup.records}
                        columns={columns}
                        hide-checkbox-column>
                    </lightning-datatable>
                    <!-- <template for:each={eachGroup.records} for:item="eachRecord">
                        <p key={eachRecord.Id}>{eachRecord.Id}</p>
                    </template> -->
                </lightning-accordion-section>
            </template>
    </lightning-accordion>
    </template>

    </lightning-card>

    
</template>